.container{
    overflow: hidden hidden;
    position: relative;

}

.mission_container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width:100%;
    background-color: white;
    height: 100%;
}
.sup{
    font-size: 100%; position: relative; vertical-align: baseline; top: -2em
  }
.mission_container div {
    padding:0;
    margin:0;
}
.mission_container input {
    width: 100%;
    font-size: xx-large;
    color: black;
    border-style: solid;
    border-width: thin;
    border-color: black;
    text-align: center;
    padding:5px;
}

.mission_container ul {
    border-style: solid;
    border-width: thin;
    position: 'absolute';
    height: calc(100vh - 78px);
    overflow-y: auto;
    padding: 0;
    margin: 10px 0 0 0;
}

.dialog_prompt_container{
    display:flex;
    flex-direction:row;
    width:auto;
}

.dialog_button{
    align-content: center;
}

.left{
    left: 7.3ex;
    box-shadow: 2px 0px 1px grey;
 }

.right{
    right:350px;
    min-width: 90px;
    box-shadow: -2px 0px 2px grey;
}

.cesium-widget-credits{
    display:none !important;
}
.select_image_container{
    font-size: 14px;
}

.code-editor-container {
    display: flex;
    flex-direction: column;
    height:auto;
    width:100%;
    max-height:100vh;
    border: #201d46;
    border-left-style: solid;
    border-width: 1px;
   
}

.python-output-title{
    background-color: #2f2b66;
    color: #ffffff;
    padding:10px;
    border: #201d46;
    border-top-style: solid;
    border-width: 1px;
}

.python-output-content{
    box-sizing: border-box;
    padding:10px;
    height:200px;
    max-height:500px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    background-color: #201d46;
    color:white;
    font-family: monospace;
}

.python-output-visible {
    display: inline;
    padding-left: 15px;
    padding-right:15px;
}

.python-output-none {
    display: none;
}

.python-output-line {
    margin-top: 3px;
}

.python-output-line.error {
   color:red;
   /* color:rgb(251,243,53); */
}

.component-button.sidebarButton button {
    position: relative;
    color: white;
    background-color: transparent;
    width:60px;
    height:55px;
    outline:none;
}

/* Form inputs are hard to style. It is easier to use a div for the border styling */
.filterInputBorder{
    border: 8px solid darkgrey;
    padding: 5px 9px;
    font: 13px/18px "lucida grande",tahoma,verdana,arial,sans-serif;
    background: white;
    border-radius: 12px;
}
.filterInput {
    border-width: 0;
    padding: 0;
    margin: 0;
    outline: none;
}