.container {
  display: flex;
  flex-direction: row;
}

.sidebar_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.button_container {
  display: flex;
  flex-direction: column;
}

.learning_container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  height: 100vh;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  background-color: rgb(37, 43, 102);
}

.logo_img {
  height: 60vh;
  width: 50vw;
  background-color: white;
  object-fit: contain;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}