.missionContainer {
    padding-left: 40px;
    display: flex;
    min-width: 120%;
}

.verticalContainer {
    display: flex;
        flex-direction: column;

    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;

    border: 1px solid black;
    border-top: none; /*headerBar border is used for top*/
    border-radius: 5px;
}

.headerBar {
    background-color:rgb(119, 118, 118);
    display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

    border-top: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid black;

    text-indent: 5px;
    font-size: 16px;
}

.propertyContainer {
    display: flex;
        flex-direction: row;
        justify-content: space-between;
    margin-top:1vh;
    margin-left:1vw;
    margin-right:1vw;
    font-size: 16px;
}

.propertyText {
    /*Cut off the label text if it goes further than 50% of the panel width*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
}

.variableTextBox {
    display: flex;
        flex-direction: row;
        flex-grow: inherit;
        justify-content: flex-end;
    margin: 0 0 0 12px ;
    padding: none;
    height: 25px;
    width: auto;
    max-width: 45%;

    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
}

.variableTextBox>input {
    flex-grow: 3;
    padding: 0;
    margin: 0;
}

.variableTextBox.variable {
    width: 100%;
}

.variableTextBox.variable button:first-child {
    flex-grow: 1;
}

.variableTextBox button {
    background-color: #252b66;
    color: white;
    border: none;
}

.variableTextBox button:last-child {
    background-color: #cc1d1d;
}

.variableTextBox button:hover {
    background-color: #1b289e;
}

.textBox{
    height: 25px;
    width: 45%;
    padding: 0;
    position: relative;
    left: 2px;
    outline: none;
    font-size: 14px;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;

    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
}

.selectBox {
    height: 25px;
    width: 45%;
    left: 0;

    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
}
