.flex-row{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

.card_component{
    display: inline-block;
    list-style: none;
    display: flex;
        align-items: center;
    min-height: fit-content;
    overflow: hidden auto;
    margin: 3px;
    background-color: rgb(37, 43, 102);
    color: white;
}
    .card_component:hover {
        background-color: #B17D49;
            box-shadow: 0px 2px 2px darkslategrey;
    }

.card_component svg{
    float: left;
    padding: 2px;
}

.mission {
    background-color: lightslategray;
    text-align: center;
    font-size: 24px;
    display: inline-block;
}

.mission-icon {
    margin: 2px;
}

.trash{
    display: flex;
        align-items: center;
    list-style: none;
    min-height: fit-content;
    overflow: hidden auto;
    margin-top:3.5px;
    z-index: 0;
    min-width: 40px;
    margin-bottom:3.5px;
    margin-right:3.5px;
    list-style: none;
    background-color: rgb(37, 43, 102);
    width:7%;
}
    .trash:hover {
        background-color: #B17D49;
            box-shadow: 0px 2px 2px darkslategrey;
    }

.red {
    color: red;
}

.white {
    color: white;
}