.editor{
    display: flex;
        flex-direction: row;
    width: 100%;
    z-index: 1;
}

.tabContainer{
    background-color:#34362c;
    display: flex;
        flex-direction: column;
    padding-left: 10px;
    padding-top: 5px;
    width: 100%;
}

.fileTabContainer{
    max-width: 100%;
}

.fileLabel {
    color: white;
    font-size:14px ;
    background-color:#272822;
    box-shadow: 0 5px 5px -5px black;
    padding:10px;
    z-index: 5;

}
.fileTab {
    display:inline-block;
    vertical-align: middle;
    border-radius:5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    background-color:#49483E;
	color:#ffffff;
    font-family:Arial;
	font-size:15px;
    padding:10px 15px;
    margin-right:0.5px;
    margin-left:0.5px;
    min-width:110px;
    max-width:200px;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.fileTab.current {
    background-color:#272822;
}

.tabClose {
    position: relative;
    right: 5px;
    padding: 5px;
    color: white;
    font-family: Arial;
    background-color: transparent;
    border: none;
    outline: none;
}

.tabClose:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10%;
}
