.browser-component{
    height: calc(100vh - 10px);
    padding-top: 10px;
    border-top: 10px;
    padding-left: 10px;
    max-width: 15%;
    min-width: 15%;
    background-color: #272822;
    resize: both;
}

.MuiTreeView-root{
    color: white;
    background-color: #272822;
    width: 100%;
    height: 100%;
    overflow: auto;
    min-width: 10vw;
}