.component-button {
    background-color: transparent;
    border:none;
    margin:0;
    outline:none;
}

.component-button:hover {
    background-color: grey;
}
.component-button.backButton:hover {
    background-color: red;
}

.component-button button {
    padding: 5px;
    position: relative;
    color: white;
    background-color: transparent;
    border: none;
    margin: none;
    outline: none;
    width:100%;
    height:100%;
    outline:none;
}

.component-button.plugin-cancel{
    background-color: #cc1d1d;
    width:100%;
    margin:8%;
    margin-left:2.5%;
}
.component-button.plugin-cancel:hover {
    background-color: lightcoral;
}

.component-button.plugin-create{
    background-color: rgb(37, 43, 102);
    width:100%;
    margin:8%;
    margin-right:2.5%;
}
.component-button.plugin-create:hover {
    background-color: rgb(100, 105, 151);
}