.loader-sizer{
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loader-container {
    background-color: rgba(255,255,255, 0.8);
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    width: -webkit-fill-available;
    height:-webkit-fill-available;
    position: absolute;
    z-index: 1;
}

.loader-container.static{
  position: static;
  width:fit-content;
  height:fit-content;
  background-color: none;
}

.loader-container.none{
  display: none;
}

.loader-container.fullScreen {
    position: fixed;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.loader{
    animation: loader 1s linear infinite;
    color: rgba(189, 189, 189, 0.8);
    color:rgb(47,45,101)
}


