.horizontalMask{
    display: flex;
    flex-direction: row;
}

.maskDiv {
    background-color: #2f2b66;
    display: flex;
    z-index:15 ;
}

.maskItems{
    position: absolute;
    display: flex;
    background-color:#2f2b66;
    
}
