.panel_container {
    height: 100%;
    min-width:350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    right: 0;
}

.entity_name_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: inherit;
    background-color: rgb(37, 43, 102);
    height: 70px;
    min-height: 70px;
    padding-left: 20px;
}

.properties_bar {
    display: flex;
    overflow: auto;
    flex-direction: column;
    background-color: rgb(179, 179, 179);/*#B17D49;  #8a8a8a;  #B3A369;*/
    height: 100vh;
    overflow: auto;
}

.properties_bar input {
    width: 45%;
}

.plugin_bar {
    background-color: rgb(37, 43, 102);
    height:20px;
}
    .plugin_bar:hover {
        background-color: darkkhaki;
        text-shadow:0px 0px 30px darkkhaki;
        -moz-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in;
        -webkit-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
    }

.fa-paper-plane {
    color: white;
}

.fa-microchip {
    color: white;
}
.panel_container .component-button{
    padding:0;
    margin:0;
    min-height: 30px;
}
    .panel_container .component-button svg{
        position: absolute;
        left:10px;
        top:2px;
        padding:0;
    }


.bar_text {
    color: white;
    font-size: 120%;
    align-items: center;
    align-content: center;
    text-align: center;
    display: inline-block;
    padding-left: 5px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}


