.component-sidebar{
  background-color: #2f2b66;
  height: 100vh;
  display: flex;


  flex-direction: column;
}

.menu {
  z-index: 3;
  display: flex;
    flex-direction: column;
  position: fixed;
    top:0;
    bottom:0;
  background-color: darkgrey;
  overflow: hidden auto;
}

.spacer{
  margin: auto;
}