div.pluginDiv{
    display: flex;
        flex-direction: column;
}

.buttonContainer{
    display: flex;
        flex-direction: row;
        justify-content: space-evenly;
}


.dialog-button-disabled{
    background-color: #666666;
    width: 100%;
    margin-left: 3px;
}