.container-dialogbox{
    position: fixed;
        left:0;
        top:0;
    background-color: rgba(255,255,255, 0.8);
    display: flex;
        justify-content: center;
        align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.component-dialogbox {
    position: relative;
    display: flex;
        flex-direction: column;
        justify-content: flex-end;
    min-width: 200px;
    min-height: 50px;
    max-width: 700px;
    background-color: #2f2b66;
    color: white;
    border: thin;
        border-style: solid;
        border-color: #2f2b66;
    line-height: 20pt;

}

.component-dialogbox .content{
    background-color: white;
    width:100%;
    align-self: flex-end;
    color: black;
    margin:0;
    padding:15px;
    box-sizing: border-box;
}

.dialogbox-title {
    text-align: center;
    padding-left:30px;
    padding-right:30px;
}

.dialog-label-inline{
    display:flex;
}

.dialog-label-text {
    font-size: 14px;
    min-width: 50%;
    flex-shrink: 0;
}

.dialog-text-input {
    font-size: 14px;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    display:block;
}

.dialog-check-input {
    padding-right: 5px;
}

.dialog-radio-input {
    padding-right: 5px;
}

.dialog-button-container {
    margin-top:30px;
    width:100%;
    display: flex;
    flex-direction: row;
}

.dialog-button-red{
    background-color: #cc1d1d;
    width: 100%;
    margin-left: 3px;
}

.dialog-button-red:hover {
    background-color: lightcoral;
}

.dialog-button-blue {
    background-color: rgb(37, 43, 102);
    width: 100%;
    margin-right: 3px;
}

.dialog-button-blue:hover {
    background-color: rgb(100, 105, 151);
}