.batch_manager_container{
    display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
}

.batch_buttons{
    display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
    padding: 8px;
}

.batch_buttons button{
    border:none;
    color:white;
    font-size: large;
    background-color: rgb(37, 43, 102);
}

button.cancel {
    background-color: rgb(204, 29, 29);
}