.managerContainer{
    display:flex;
        flex-direction: column;
        justify-content:space-around;
    min-height: 45vh;
    min-width: 30vw;
}

.variableRootContainer{
    display:flex;
        flex-direction:row;
}

.variableButtonContainer{
    display:flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
}

.variableManagerContainer{
    min-height: 35vh;
    max-height: 35vh;
    display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: space-between;
    border: solid;
        border-width: thin;
}

.variableContainer{
    display:flex;
        flex-direction: column;
    
    overflow-y:auto;
}

.variableLabel {
    display: flex;
        justify-content: space-between;
}

.rangeContainer{
    min-height: 35vh;
    max-height: 35vh;
    min-width: 90px;
    padding-left: 5px;
    display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: center;
    border: solid;
        border-width: thin;
    overflow-y:auto;
}

.rangeLabel{
    display: flex;
        justify-content: space-between;
}

.rangeLabel span {
    width: auto;
    margin-right: 16px;
    margin-left: 5px;
}

.rangeLabel select {
    margin-right: 6px;
}

.rangeLabel span input{
    width:100%;
}

input {
    margin:2px;
}

.stateInput{
    caret-color:'transparent';
}
.stateInput:focus{
    background-color: lightblue;
    border: none;
}

.dialogButtonContainer {
    margin-top: 5px;
    width:100%;
    display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-content:space-between;
}

.dialogButtonRed{
    background-color: #cc1d1d;
    width: 100%;
}
.dialogButtonRed:hover {
    background-color: lightcoral;
}

.dialogButtonGreen{
    background-color: rgb(11, 134, 11);
    width: 100%;
}
.dialogButtonGreen:hover {
    background-color: rgb(65, 192, 65);
}

.dialogButtonGray{
    background-color: gray;
    width: 100%;
}

.deleteVariableVertical{
    display:flex;
    flex-direction: column;
}

.deleteVariableText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.deleteInputText{
    font-size: 14px;
    border: 3px solid #cdcdcd;
}

.deleteVariableButtons{
    display:flex;
    flex-direction: row;
}